
body {
  background: teal;
  font-family: "MS Sans Serif", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #c0c0c0;
  padding: 5px 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  z-index: 999;
}

.window {
  position: absolute;
  background: #fff;
  border: 2px solid black;
  cursor: move;
}

.desktop-icon {
  position: absolute;
  width: 64px;
  text-align: center;
  color: white;
  font-size: 13px;
  cursor: pointer;
}
.desktop-icon img {
  width: 48px;
  height: 48px;
}
#start-menu {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 200px;
  background: #c0c0c0;
  border: 2px solid #000;
  display: none;
  flex-direction: column;
  z-index: 1000;
  padding: 5px;
}
#start-menu a {
  padding: 5px;
  color: black;
  text-decoration: none;
  border-top: 1px solid white;
  border-bottom: 1px solid gray;
}
#start-menu a:hover {
  background: navy;
  color: white;
}
